:root {
    --color-primary-navy-blue:#2E2F42;
    --color-secondary-iris: #4D5AE5;
    --color-link-ocean:#404BBF;
    --color-text: #434455;
    --color-helper-text: #8E8F99;
    --color-valid-fields: #31D0AA;
    --color-white: #FFFFFF;
    --font-size-primary: 16px; 
    --font-weight-primary: 400;
}

body {
    font-family: 'Roboto' sans-serif;
    color: var(--color-primary-navy-blue);
    background-color: var(--color-white);
    font-size: var(--font-size-primary);
    font-weight: var(--font-weight-primary); 
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */
.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--color-primary-navy-blue);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-web {
    color: var(--color-secondary-iris);
}

.nav-link-studio,
.nav-link {
    color: var(--color-primary-navy-blue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.contact-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


.nav-link-studio:hover,
.nav-link-studio:focus,
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--color-link-ocean);
}

.nav-link-studio:active {
    color: var(--color-link-ocean);
    text-decoration: underline;
}

/* Main */
/* Section studio */

.hero-section {
    background-color: var(--color-primary-navy-blue);
}

.hero-title {
    color: var(--color-white);  
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}

.hero-button {
    background-color: var(--color-secondary-iris);
    color: var(--color-white);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-link-ocean);
}

/* Feature section, team section, portfolio section*/

.feature-title,
.team-title,
.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.feature-text,
.team-text,
.portfolio-text {
    color: var(--color-text);
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.team-section {
    background-color: #F4F4FD;
}

.section-title {
    font-size: 36px;  
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}









